@CHARSET "UTF-8";
body {
	margin: 0px;
	height: 100%;
	min-height: 100%;
	padding: 0px;
	/* background-color: rgb(21, 23, 25); */
}

p{
	font-family: Microsoft JhengHei, OpenSans;
	line-height: 25px;
}

h1, h2{
	font-family: Microsoft JhengHei, 'Orbitron';
	line-height: 25px;
}

h3, h4 ,h5{
	font-family: Microsoft JhengHei;
	line-height: 25px;
}

#header {
	width: 100%;
	height: 70px;
	background-color: rgb(49, 50, 52);
	transition: 0.5s;
	z-index: 10;
	position: fixed;
	top: 0px;
}

#entrances {
	width: 960px;
	margin: auto;
}

#entrances ul{
	margin: 0;
	padding: 0;
}

#entrances ul li {
	font-family: 'Orbitron';
	font-size: 25px;
	width: 22%;
	margin: 22px auto auto 3%;
	height: 30px;
	float: left;
	text-align: center;
	transition: 0.2s;
	color: white;
	list-style-type: none;
}

#entrances ul:first-child {
	margin-left: 0%;
}

#now a{
	color: rgb(9, 131, 164);
}

#entrances div p{
	margin: 0 auto 0 auto;
}

#entrances ul li a:hover{
	color: rgb(139, 166, 177);
}

#slider h1{
	font-family: Orbitron;
	font-size: 70px;
	margin: 400px auto auto 400px ;
	position: absolute;
	color: white;
}

#wrapper {
	width: 100%;
	height: 100%;
	margin: 100px auto 3% auto;
}

.circleImg{
	border: 0px solid transparent;
	border-radius: 50%;
}

.title{
	margin-top: 5%;
}

.title div{
	width: 33.333333%;
	float: left;
}

.line{
	height: 10px;
	border-top: 1px solid #C6B8B3;
	border-bottom: 1px solid #C6B8B3;
	margin: 30px auto;
}

.blockBg{
	background-color: #ececec;
	width: 100%;
	border-top: 1px solid #ececec;
}

.block{
	width: 960px;
	margin: auto;
}

.blockEnd{
	margin-bottom: 5%;
}

.block h1{
	font-family: Orbitron;
	font-size: 35px;
	top: 0px;
	text-align: center;
	position: relative;
}

.underLine{
	width: 100px;
	height: 1px;
	background-color: #A1A5AB;
}

.blockLeft{
	width: 47.5%;
	float: left;
	margin-top: 5%;
}

.blockRight{
	width: 47.5%;
	float: right;
	margin-top: 5%;
}

#footer {
	position: relative;
	padding: 20px 0;
	width: 100%;
	background-color: rgb(49, 50, 52);
	height: 100px;
}

#personalInfo{
	width: 960px;
	margin: auto;
}

#personalInfo div{
	width: 30%;
	margin: 2% 1%;
	color: white;
	float: left;
	text-align: left;
}

#personalInfo h4{
	padding-left: 70px;
}

a{
	color: white;
	text-decoration: none;
}

/*changeCloth slider part*/

#naked{
	position: absolute;
}

#slideShow{
	background-color: transparent;
	position: relative;
	width: 500px;
	height: 500px;
	margin: auto auto 5% auto;
}

.slider{
	overflow: hidden;
	width: 500px;
	height: 500px;
	/*margin: auto;*/
	position: absolute;
}

.slider  ul {
	-webkit-transition: 0.8s left;
	-moz-transition: 0.8s left;
	-ms-transition: 0.8s left;
	-o-transition: 0.8s left;
	list-style: none;
	margin: 0; 
	padding: 0;
	position: relative;
}


.back  ul {
	-webkit-transition: 1.5s left;
	-moz-transition: 1.5s left;
	-ms-transition: 1.5s left;
	-o-transition: 1.5s left;
	list-style: none;
	margin: 0; 
	padding: 0;
	position: relative;
}

.slider  ul  li {
	float: left;
	width: 500px; 
	height: 500px;
}

.subtitle div{
	display: none;
	position: relative;
	top: 510px;
}

.subtitle h3{
	line-height: 30px;
}

.sliderControl{
	cursor: pointer;
	
}

.sliderControl div:hover{
	transform: scale(1.3);
}

#prev{
	position: absolute;
	z-index: 9;
	top: 210.5px;
	margin-left: -120.5px;
	transition: 0.3s;
	
}

#next{
	position: absolute;
	top: 210.5px;
	z-index: 9;
	margin-left: 500px;
	transition: 0.3s;
}

.feature img{
	-webkit-transition: 0.5s ;
	-moz-transition: 0.5s ;
	-ms-transition: 0.5s ;
	-o-transition: 0.5s ;
	border: 2px solid #eeeeee;
	border-radius: 5px;
	padding: 5px;
	cursor: pointer;
}

.resource div{
	width: 20%;
	margin-left:4%;
	float: left;
	
}

.feature div img:hover{
	box-shadow: 10px 10px 10px #4F4F4F;
	transform: scale(1.1);	
	border: 2px solid #08c;
}

.resource div img{
	width: 100%;
}

#hireMe{
	width: 500px;
	height: 50px;
	margin: auto;
	text-align: center;
	background-color: #FF2D2D;
	border: 2px solid #FF2D2D;
	border-radius: 5px;
	padding-bottom: 10px;
	cursor: pointer;
	display: none;
}

#hireMe:hover{
	background-color: white;
	color: #FF2D2D;
}


/*About part*/
.gridThree{
	width: 30%;
	margin-left: 2.5%;
	float: left;
}

.gridThree h2{
	background-color: #08c;
	color: white;
	text-align: center;
	border: 1px solid #08c;
	border-radius: 5px;
}

.skills div{
	transition: 1.5s;
	width: 20px;
	height: 20px;
	float: left;
	margin: 0px 2% auto 1%;
}

.skills h4{
	font-size: 12px;
}


#level{
	position: absolute;
	z-index: 9;
	margin: 50px auto auto 70px;
}

#level h1{
	font-size: 70px;
}

#detail{
	line-height: 18.7px;
}

#personality div{
	float: left;
	width: 24%;
	height: 100px;
	text-align: center;
	vertical-align: mid;
	font-size: 35px;
	transform: rotateY(180deg);
	transition: 0.5s;
	border: 2px solid white;
	border-radius: 5px;
	background-color: #08c;
	color: white;
	cursor: pointer;
}

#personality div h3{
	display: none;
}

#personality div:hover{
	/*box-shadow: x y blur spread color inset;*/
	background-color: #00517a;
}

/*footer part*/

.icon{
	width: 40px;
	float: left;
	border: 2px solid transparent;
	border-radius: 50%;
	padding: 5px;
	-webkit-transition: 0.3s ;
	-moz-transition: 0.3s ;
	-ms-transition: 0.3s ;
	-o-transition: 0.3s ;
}

.icon:hover{
	margin-top: -10px;
}

.clear{
	clear: both;
}

/*Work detail part*/
.screenShot div{
	overflow: hidden;
	width: 18%;
	margin-left: 1%;
	cursor: pointer;
	border: 2px solid #eeeeee;
	border-radius: 5px;
	float: left;
}

.screenShot div img{
	width: 100%;
	transition: 0.3s;
}

.screenShot div:hover{
	border: 2px solid #FF2D2D;
}

.screenShot div img:hover{
	transform: scale(1.2);
}

/*Zoom Base*/
#zoomBase{
	display: none;
	position: fixed;
	z-index: 998;
	width: 100%;
	height: 100%;
	padding: 0px;
	left: 0px;
	top: 0px;
	background-color: black;
	opacity: 0.5;

}

#zoomImg{
	display: none;
	position: fixed;
	z-index: 999;
}

@media screen and (max-width: 959px){
	#header {
		width: 100%;
		height: 70px;
		background-color: rgb(49, 50, 52);
		transition: 0.5s;
		z-index: 10;
		position: fixed;
		top: 0px;
	}

	#entrances {
		width: 100%;
		margin: auto;
	}
	
	.block{
		width: 100%;
		margin: auto;
	}
	
	#personalInfo{
		width: 100%;
		margin: auto;
	}
}

@media screen and (max-width: 480px){
	.resource div{
		width: 80%;
		margin-left:%;
		float: left;
	}
}