
/** General page styling **/
/* html {
  background-color: #e5e5e5;
  font-family: "Helvetica Neue Light", "Helvetica Neue", Arial, sans-serif;
} */


header h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 200;
  margin: 30px 0 10px 0;
}

header p {
  text-align: center;
  font-size: 14px;
  color: #666666;
  margin: 0;
  font-weight: 200;
}

/**
 * Grid container
 */
#tiles {
  width: 100%;
  list-style-type: none;
  position: relative; /** Needed to ensure items are laid out relative to this container **/
  margin: 0;
  padding: 0;
}

/**
 * Grid items
 */
#tiles li {
  width: 200px;
  background-color: white;
  border-left: 1px solid white;
          border-radius: 0px;
     -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  display: none;  /**Hide items initially to avoid a flicker effect **/
  cursor: pointer;
  padding: 0px;
}

#tiles li.inactive {
  visibility: hidden;
  opacity: 0;
}

#tiles li img {
  display: block;
  width: 96%;
  margin: 2% 2% 2% 2%;
}

/**
 * Grid item text
 */
#tiles li p {
  font-family: Open Sans;
  color: #666;
  font-size: 15px;
  line-height: 20px;
  text-align: left;
  font-weight: 200;
  margin: 2% 2% 2% 2%;
}

#tiles h4{
	color: #4c66a4;
	font-size: 1em;
}
/*
footer {
  text-align: center;
}
*/
footer a {
  color: #435DC5;
  text-decoration: none;
}

/**
 * Progress bar for imagesLoaded
 */
.progress-bar {
  background-color: #0BC20B;
  height: px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 0;
  box-shadow: 0 1px 3px rgba(11, 194, 11, 0.2);
  -webkit-transition: width 0.3s ease-out;
     -moz-transition: width 0.3s ease-out;
       -o-transition: width 0.3s ease-out;
          transition: width 0.3s ease-out;
}

/**
 * Placerholder css
 */
.wookmark-placeholder {
          border-radius: 2px;
     -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background-color: #eee;
  border: 1px solid #dedede;
  z-index: -1;
}


